<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <instrumentation
        android:name="dev.tapsmith.agent.TapsmithAgent"
        android:targetPackage="dev.tapsmith.agent"
        android:label="Tapsmith Agent" />

    <application
        android:allowBackup="false"
        tools:ignore="MissingApplicationIcon">
    </application>

</manifest>
